.wrapper{
    display: flex;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    flex-direction: row;
    flex-wrap: wrap;
    height:min-content;

}

@media (max-width: 1199px) {
    .wrapper {
        width: 500px;
        justify-content: center;
        height: 175px;
    }
}

.wrapper p {
    color: black;
    font-weight: 700;
    font-size: 15px;
    justify-content: flex-start;
    
}

.desc {
    color: black;
    font-size: 10px;
    margin: 35px 10px;
}

@media (max-width: 1199px) {
    .desc {
        margin: 10px 10px;
    }
}

/* Breaks */

.break1{
    flex-basis: 100%;
    height: 15px;
}

.break2{
    flex-basis: 100%;
    height: 15px;
}

@media (max-width: 1199px) {
    .break1 {
        height: 0px;
    }

    .break2 {
        flex-basis: 0;
        height: 0px;
    }
}

.XSButton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.XSButton:hover {
    border: 0.5px solid black;
}


.SButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.SButton:hover {
    border: 0.5px solid black;
}

.MButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.MButton:hover {
    border: 0.5px solid black;
}

.MLButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.MLButton:hover {
    border: 0.5px solid black;
}


.LButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.LButton:hover {
    border: 0.5px solid black;
}

.XLButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.XLButton:hover {
    border: 0.5px solid black;
}

.XXLButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin: 5px;
    font-size: 10px;
}

.XXLButton:hover {
    border: 0.5px solid black;
}

