.button {
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 2;
    right: 0;
    background-color: rgb(41, 41, 41);
    font-size: 12px;
    border: none;
 
    

}

.button:hover {
    opacity: 0.85;
}


.itemNum {
    position: absolute;
    z-index: 2;
    transform: translate( -14px, 24px);
    border-radius: 100%;
    background-color: rgb(237, 177, 25);
    width: 20px;
    height: 20px;
    padding: 1px;
    text-align: center;
    padding: 3px;
}